.ng-invalid[name="username"]{
    border-bottom: 2px red solid;
}
.ng-valid[name="username"]{
    border-bottom: 2px green solid;
}
.ng-invalid[name="password"]{
    border-bottom: 2px red solid;
}
.ng-valid[name="password"]{
    border-bottom: 2px green solid;
}